.wp-block-cloudcatch-instagram {

  &:not(.is-carousel) {
    .wp-block-cloudcatch-instagram__content {
      display: flex;
      flex-wrap: wrap;
      gap: var(--wp--style--block-gap, 2em);
    }
  }

  &__content {

    &-video {
      display: inline-block;
      position: relative;
      z-index: 10;

      &-controls {
        opacity: 0;
        transition: opacity .35s ease-out;

        &.show {
          opacity: 1;
        }
      }

      [data-media] {
        padding: 0;
        margin: 0;
        background-color: transparent;
      }
    
      [data-media="play-pause"] {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: opacity .35s ease-out;
        outline: none;
      }

      &.paused [data-media="play-pause"] {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 0 30px 52px;
        border-color: transparent transparent transparent #fff;
      }
      &.playing [data-media="play-pause"] {
        width: 52px;
        height: 60px;
        border: 16px solid #fff;
        border-top: none;
        border-bottom: none;
      }
      &.hide-playhead [data-media="play-pause"] {
        opacity: 0;
      }
    }
  }

  @for $i from 1 through 8 {
    &.columns-#{$i} .wp-block-cloudcatch-instagram__content-item {
      max-width: calc((100% - (var(--wp--style--block-gap, 2em) * #{$i - 1})) / #{$i});
    }
  }
}
